<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ barName }}</h1>
        <p class="bar-details" *ngIf="barDetails">
            {{ barDetails?.addr }} <span *ngIf="barDetails.addr && barDetails.city">|</span> {{ barDetails?.city }}
            <br>
            {{ barDetails?.phone }}
            <br>
            {{ barDetails?.OpenTime }} {{ '-'}}
            {{ barDetails?.CloseTime }}

        </p>
    </div>
</div>

<div class="container">
    <br>
    <div id="bargraph3"> </div>
</div>
<br><br>
<div class="container">
    <br>
    <div id="bargraph1"> </div>
</div>
<br><br>
<div class="container">
    <br>
    <div id="bargraph2"> </div>
</div>
<div class="container">
    <br>
    <div id="bargraph4"> </div>
</div>

<div class="container">
    <br>
    <div id="bargraph5"> </div>
</div>