<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Whats Popping This is Bar Beer Drinker </h1>
    <p class="lead"></p>
  </div>
  <div class 
<iframe width="420" height="315"
src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>
</div> 
<video autoplay muted loop poster="https://images.unsplash.com/photo-1502819126416-d387f86d47a1?ixlib=rb-0.3.5&s=92720a269e9e7f37f1d6b3a0e78816f7&auto=format&fit=crop&w=1189&q=80">
-->
<div class="jumbotron">

<video id ="video-background" preload muted autoplay loop>    
    <source src="https://www.videvo.net/videvo_files/converted/2017_06/preview/170628_004.mp464081.mp4" type="video/mp4">
    <source src="https://www.videvo.net/videvo_files/converted/2017_06/preview/170628_004.mp464081.webm" type="video/webm">
    <source src ="https://www.videvo.net/videvo_files/converted/2017_06/preview/170628_004.mp464081.ogg" type="video/ogg">
</video>


  <div class="container text-white">

    <h1 class="display-4">Welcome to our Bar Beer Drinker Page</h1>
    <p class="lead">This is a simple web app, which displays detailed information of our Customers and their spendings.</p>
    <hr class="my-4">

  </div>
</div>
