<div class="jumbotron">

<video id ="video-background" preload muted autoplay loop>    
    <source src="https://www.videvo.net/videvo_files/converted/2017_06/preview/170628_004.mp464081.mp4" type="video/mp4">
    <source src="https://www.videvo.net/videvo_files/converted/2017_06/preview/170628_004.mp464081.webm" type="video/webm">
    <source src ="https://www.videvo.net/videvo_files/converted/2017_06/preview/170628_004.mp464081.ogg" type="video/ogg">
</video>


  <div class="container text-white">

    <h1 class="display-4">Welcome to our Bar Beer Drinker Page</h1>
    <p class="lead">This is a simple web app, which displays detailed information of our Customers and their spendings.</p>
    <hr class="my-4">

  </div>
</div>
